/*Layout 1*/
html{
  background-color: yellow;
}

.container{
  max-width: 400px;
  background-color: blue
}

.form-row{
  padding: 10px 0;
  display: flex;

}

.form-row label{
  padding-right: 10px;
}

.form-row input{
  flex:1
}

/*Layout 2*/
.flex2{
  background-color: blue;
}

.column-layout{
  background-color: yellow;
  margin: 40px auto 0 auto;
  max-width: 1300px;
  display: flex;
}

.main-column{
  flex:2;
  order: 2
}
.sidebar-1{
  flex:1;
  order: 1;
}

.sidebar-2{
  flex:1;
  order: 3;
}

/*Layout 3*/
.flex3{
  background-color: purple;
}

.call-outs-container{
  max-width: 1300px;
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.call-out{
  padding: 20px;
  margin-bottom: 20px;
  flex:1;
}
.call-out:nth-child(1){
  background-color: red;
}

.call-out:nth-child(2){
  background-color: gray;
}

.call-out:nth-child(3){
  background-color: green;
}